__pycache__/
auto_summaries/
*.py[cod]
*$py.class
.pytest_cache/
tests/__pycache__/

# virtualenv
.venv/
venv/
ENV/

# build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Test
tests/test.sh
data/
